body{
    background-color: rgb(17,17,17);
    overflow:hidden;
    
}


.nav{
    left:700px;
    padding-left:5px;
    margin: none;
    position: absolute;
    text-align: center; 
    display: inline-block;
}

.navcontainer{
    height:5vh;
    width:50vw;   

}



ul{
    list-style-type:none;
    overflow:hidden;
    background-color: rgb(17,17,17);
    position:fixed;
    top:0;
    padding-left: 200;    
    padding-top: 35px;
    border-top:2px;
    border-top:2px rgb(165,165,90) !important;
    border:rgb(165,165,102);
    margin: auto;
    width: 70%;   
}

li a:hover{
    background-color:rgb(165,165,90);
    color:rgb(17,17,17);
    transition:500ms;
}
    

li{
    float: left;
    margin: 0 auto; 

}

li img{
    padding-top:10px;

}



li a{
    display:block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    color:rgb(165,165,90);
    text-align:center;
    text-decoration: none;
    padding: 20px 50px;
}



hr{
   
    border-color:rgb(165,165,90);
    float:right;
    position:relative;
    z-index:1;

}

.banner{
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-right: 120px;
    width:800px;
    height200px;
    padding-bottom:100px;
}

.banner img{
    width:100%;
    height:auto;
}

.header1{
    color:rgb(165,165,90);
    font-family: Arial, sans-serif;
    padding-left:550px;
}


.sky iframe {
    width: 600px;
    height: 350px;
    border: none;
    display: block;
    padding-left:450px;
    position:fixed;
}


.header2{
    color:rgb(165,165,90);
    font-family: Arial, sans-serif;
    padding-left: 1450px;
    margin-top:-58px; 
}


.run iframe{
    width: 600px;
    height: 350px;
    border: none;
    display: block;
    padding-left:1200px;
     
}

.albumsheader{
    padding-left:150px;
    padding-top:20px;
    color:rgb(160,160,90);
    font-family: Arial, sans-serif;
    
}


.albums_table img{
    height:100%;
    width:100%;
}

.albums_table tr{
    padding-top:250px;
}

.albums_table td{
    padding-left:150px;
    height:300px;
    width:300px;
}

.albums_table h3{
    color:rgb(160,160,90);
    font-family: Arial, sans-serif;
    margin-top:-5px;
}

.listen_album{
    width:400px;
    height:400px;
    padding-left:650px;
    margin-top:200px;
}

.listen_album img{
    height:100%;
    width:100%;
}

.listen_album h1{
    font-size:40;
    padding-left:5px; 
    color:rgb(160,160,90);
    font-family: Arial, sans-serif;
    width:100%;
}

.song_list{
    width:600px;
    height:600px;
    padding-left:1200px;
    margin-top:-400px;
}

.song_list table {
    color:rgb(160,160,90);
    font-family:Arial, sans-serif;
    padding-top:20px;
    padding-bottom:20px;
    font-size:20;
    font-weight:bold;
    border-collapse: collapse;
}
.song_list tr{
    height:30px;
}

.song_list tr:hover{
    background-color:rgb(160,160,90);
    color:rgb(17,17,17);
    transition:500ms;
    height:50px;
    border-radius:50px;
}

.song_list input{
    border:none;
    background-color:rgb(160,160,90);
    font-family: Arial, sans-serif;
    font-weight:bold;
    font-size:25;
    border-radius:5px;
    height:20px;
    width:50px;

}

.song_list input:hover{
    background-color:rgb(17,17,17);
    color:rgb(160,160,90);
    height:40px;
    width:70px;
    transition:500ms;
}

td.name{
    padding-left:10px;        
}

td.time{
    padding-left:100px;
    padding-right:10px;
}

.song_list td{
    padding-top:10px;
    padding-bottom:10px;

}

td.playbtn{
    padding-left:10px;
}

