{% extends "home.html" %}
{% block content %}

    <div class = "events_table">
        <table>
            <tr>
                <td><h1>Date</h1></td>
                <td><h1>Location</h1></td>
                <td><h1>Venue</h1></td>
                <td><h1>Tickets</h1></td>
            </tr>
            
            <tr>
                <td><h2>22 June 2018</h2></td>
                <td><h2>London</h2></t2>
                <td><h2>London Stadium</h2></td>
                <td><form action="http://www.ticketmaster.co.uk/foo-fighters-london-22-06-2018/event/35005352B8F0610F?artistid=776005&majorcatid=10001&minorcatid=60">
                        <input type ="submit" value="Buy" /></form></td>
            </tr>


            <tr>
                <td><h2>23 June 2018</h2></td>
                <td><h2>London</h2></td>
                <td><h2>London Stadium</h2></td>
                <td><form action="https://www1.ticketmaster.co.uk/foo-fighters-london-23-06-2018/event/35005352B8F16125?artistid=776005&majorcatid=10001&minorcatid=60">
                        <input type ="submit" value="Buy" /></form></td>
            </tr>


            <tr>
                <td><h2>19 June 2018</h2></td>
                <td><h2>Manchester</h2></td>
                <td><h2>Etihad Stadium</h2></td>
                <td><form action="https://www1.ticketmaster.co.uk/foo-fighters-hospitality-packages-manchester-19-06-2018/event/1F005353A77134BF?artistid=776005&majorcatid=10001&minorcatid=60">
                        <input type ="submit" value="Buy" /></form></td>
            </tr>


{% endblock %}
