<html>
     <head>
        <title>Home</title>
        <link rel="stylesheet" type=text/css href="static/home.css">  
        <script src="static/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <div style="width: 980px; margin: 0 auto; overflow: hidden;">
        <div style="float: left; width: 80%;">Left Column</div>
        <div style="float: right; width: 20%;">Right Column</div>
        </div>
        <hr width="100%">
     </head>
         <body>
             <div id="container">
                <div id="leftblock">
                </div>
                <div id="rightblock">
                </div>
            </div>
             <ul>
                <li><p href="home">
                        <img src="static/home.png" alt="home logo">
                    </p>
                <li><a href="home">Home</a><li>   
                <li><a href="home/listen">Listen</a><li>
                <li><a href="home/watch">Watch</a><li>
                <li><a href="home/events">Events</a></li>
                <li><a href="home/social">Social</a></li>
            </ul>

            <div class="uktour"> 
                <a href="home/events">
                    <img src="/static/uk.jpg" alt="uk tour poster">
                </a>
            </div>


            <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/TRqiFPpw2fY">
            </iframe>
         </body>
</html>
