{% extends "home.html" %}
{% block content %}
    
    <div class = "albumsheader">
        <h1> Albums <h1>
    </div>
    <div class="albums_table">
        <table>
        <tr>
                <td><a href="http://0.0.0.0:5000/listen/concreteandgold">
                <img src="../static/concreteandgold.jpg" alt="concrete and gold album"></a>
                    <h3>Concrete and Gold (2017)</h3></td>
            


            
                <td><a href="http://0.0.0.0:5000/listen/sonichighways">
                    <img src="../static/sonichighways.jpg" alt="sonic highways album"></a>
                    <h3>Sonic Highways (2015)</h3></td>
                

        
               <td><a href="http://0.0.0.0:5000/listen/wastinglight">
                <img src="../static/wastinglight.jpg" alt="wasting light album"></a>
                    <h3>Wasting Light (2011)</h3></td>
    

    
                <td><a href="http://0.0.0.0:5000/listen/greatesthits">
                <img src="../static/greatesthits.jpg" alt = "greatest hits album"></a>
                    <h3>Greatest Hits (2009)</h3></td>
    


        
                <td><a href="http://0.0.0.0:5000/listen/espg">
                <img src="../static/espg.jpg" alt ="echoes, silence, patience & grace album"></a>
                    <h3>Echos, Silence, Patience & Grace (2007)</h3></td>
    
        </tr>
        <tr>
                <td><a href="http://0.0.0.0:5000/listen/inyourhonor">
                <img src="../static/inyourhonor.jpg" alt =" In Your Honor Album"></a>
                    <h3>In Your Honor (2005)</h3></td>
        


        
                 <td><a href="http://0.0.0.0:5000/listen/onebyone">
                <img src="../static/onebyone.jpg" alt = "One By One album"></a>
                    <h3>One By One (2002)</h3></td>
        

        
                <td><a href="http://0.0.0.0:5000/listen/tnltl">
                    <img src="../static/nothinglefttolose.jpg" alt="nothing left to lose album"></a>
                    <h3>There Is Nothing Left to Lose (1999)</h3></td>
        

        
                <td><a href="http://0.0.0.0:5000/listen/tcats">
                    <img src="../static/colorshape.jpg" alt="The Color and the Shape album"></a>
                    <h3>The Colour And The Shape (1997)</h3></td>
        

        
                <td><a href="http://0.0.0.0:5000/listen/foofighters">
                    <img src="../static/foofighters.jpg" alt="foo fighters album"></a>
                    <h3>Foo Fighters (1995)</h3></td>
        </tr>
{% endblock %}
