{% extends "home.html" %}
{% block content %}

    <script type="text/javascript"> 
    var isPlaying = false;

    var sfn = new Audio('../static/albums/sh/01.Something From Nothing.mp3');
    function play_sfn(){
        sfn.play()
        isPlaying = true;
     }

    function pause_sfn(){
        if (isPlaying = true){
            sfn.pause();
        }
    }


    var faf  = new Audio('../static/albums/sh/02.The Feast and the Famine.mp3');
    function play_faf(){
        faf.play()
        isPlaying = true;
     }

    function pause_faf(){
        if (isPlaying = true){
            faf.pause();
        }
    }
    
    var congregation = new Audio('../static/albums/sh/03.Congregation.mp3');
    function play_congregation(){
        congregation.play()
        isPlaying = true;
     }

    function pause_congregation(){
        if (isPlaying = true){
            congregation.pause();
        }
    }
    
    var wdid = new Audio('../static/albums/sh/04.What Did I DoGod as My Witness.mp3');
    function play_wdid(){
        wdid.play()
        isPlaying = true;
     }

    function pause_wdid(){
        if (isPlaying = true){
            wdid.pause();
        }
    }
     
    var outside = new Audio('../static/albums/sh/05.Outside.mp3');
    function play_outside(){
        outside.play()
        isPlaying = true;
     }

    function pause_outside(){
        if (isPlaying = true){
            outside.pause();
        }
    }
    
    var itc = new Audio('../static/albums/sh/06.In the Clear.mp3');
    function play_itc(){
        itc.play()
        isPlaying = true;
     }

    function pause_itc(){
        if (isPlaying = true){
            itc.pause();
        }
    }
    
    
    var subterranean = new Audio('../static/albums/sh/07.Subterranean.mp3');
    function play_subterranean(){
        subterranean.play()
        isPlaying = true;
     }

    function pause_subterranean(){
        if (isPlaying = true){
            subterranean.pause();
        }
    }

    var iar = new Audio('../static/albums/sh/08.I Am a River.mp3');
    function play_iar(){
        iar.play()
        isPlaying = true;
     }

    function pause_iar(){
        if (isPlaying = true){
            iar.pause();
        }
    }
    
    
    </script>

    <div id="player"></div>
    <div class="listen_album">
        <img src="../static/sonichighways.jpg" alt="sonichighways">
        <h1>Sonic Highways (2014)</h1>
    </div>

    <div class="song_list">
        <table>
         <tr> 
             <td><input class="playbtn" type="button" value="Play" onclick="play_sfn()" />
                 <input class="pausebtn" type="button" value="Pause" onclick="pause_sfn()" /></td>
             <td class="name">Something From Nothing</td>
             <td class="time">4:48</td>
         </tr> 
         
         <tr>
             <td><input class="playbtn" type="button" value="Play" onclick="play_faf()" />
                 <input class="pausebtn" type="button" value="Pause" onclick="pause_faf()" /></td>
             <td class="name">The Feast and the Famine</td>
             <td class="time">3:50</td>  
         </tr>
             
         <tr>
             <td><input class="playbtn" type="button" value="Play" onclick="play_congregation()" />
                 <input class="pausebtn" type="button" value="Pause" onclick="pause_congregation()" /></td>
             <td class="name">Congregation</td>
             <td class="time">5:12</td>  
         </tr> 

                 
         <tr>
             <td><input class="playbtn" type="button" value="Play" onclick="play_wdid()" />
                 <input class="pausebtn" type="button" value="Pause" onclick="pause_wdid()" /></td>
             <td class="name">What Did I Do? / God as My Witness</td>
             <td class="time">5:44</td>  
         </tr>
        

         <tr>
             <td><input class="playbtn" type="button" value="Play" onclick="play_outside()" />
                 <input class="pausebtn" type="button" value="Pause" onclick="pause_outside()" /></td>
             <td class="name">Outside</td>
             <td class="time">5:15</td>  
         </tr>

         <tr>
             <td><input class="playbtn" type="button" value="Play" onclick="play_itc()" />
                 <input class="pausebtn" type="button" value="Pause" onclick="pause_itc()" /></td>
             <td class="name">In the Clear</td>
             <td class="time">4:04</td>  
         </tr>


         <tr>
             <td><input class="playbtn" type="button" value="Play" onclick="play_subterranean()" />
                 <input class="pausebtn" type="button" value="Pause" onclick="pause_subterranean()" /></td>
             <td class="name">Subterranean</td>
             <td class="time">6:08</td>  
         </tr>


         <tr>
             <td><input class="playbtn" type="button" value="Play" onclick="play_iar()" />
                 <input class="pausebtn" type="button" value="Pause" onclick="pause_iar()" /></td>
             <td class="name">I Am a River</td>
             <td class="time">7:09</td>  
         </tr>            

        </table>         
    </div>
        

{% endblock %}
