{% extends "home.html" %}
{% block content %}
    
    <div class = "videosheader">
        <h1> Music Videos <h1>
    </div>
    <div class="videos_table">
        <table>
        <tr>
                <td><a href="http://0.0.0.0:5000/watch/sky">
                <img src="../static/sky.jpg" alt="sky is a neighborhood"></a>
                    <h3>The Sky is a Neighborhood</h3></td>
            


            
                <td><a href="http://0.0.0.0:5000/watch/run">
                    <img src="../static/run.jpg" alt="run"></a>
                    <h3>Run</h3></td>
                

        
               <td><a href="http://0.0.0.0:5000/watch/pretender">
                <img src="../static/pretender.jpg" alt="pretender"></a>
                    <h3>The Pretender</h3></td>
    

    
                <td><a href="http://0.0.0.0:5000/watch/everlong">
                <img src="../static/everlong.jpg" alt = "everlong"></a>
                    <h3>Everlong</h3></td>
    


        
                <td><a href="http://0.0.0.0:5000/watch/learntofly">
                <img src="../static/learntofly.jpg" alt ="ltf"></a>
                    <h3>Learn to Fly</h3></td>
    
        </tr>
        <tr>
                <td><a href="http://0.0.0.0:5000/watch/allmylife">
                <img src="../static/allmylife.jpg" alt =" all my life"></a>
                    <h3>All My Life</h3></td>
        


        
                 <td><a href="http://0.0.0.0:5000/watch/somethingfromnothing">
                <img src="../static/somethingfromnothing.jpg" alt = "sfn"></a>
                    <h3>Something From Nothing</h3></td>
        

        
                <td><a href="http://0.0.0.0:5000/watch/congregation">
                    <img src="../static/congregation.jpg" alt="congregation"></a>
                    <h3>Congregation</h3></td>
        

        
                <td><a href="http://0.0.0.0:5000/watch/timeslikethese">
                    <img src="../static/timeslikethese.jpg" alt="times like these"></a>
                    <h3>Times Like These</h3></td>
        

        
                <td><a href="http://0.0.0.0:5000/watch/walk">
                    <img src="../static/walk.jpg" alt="walk"></a>
                    <h3>Walk</h3></td>
        </tr>
{% endblock %}
